<!doctype html>
<html lang="en" ng-app="myApp">
<% include header %>
   <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>  
  <h1> Página del Personaje <%= personaje.Nombre %> </h1>
  <% include footer %>
  </body>  
</html>